body{
	background-color: orange;
	font-family: arial;
}

@media(min-width: 992px){
.responsiveDiv {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 30%;
   height: auto;
   border: 1px solid black;
   opacity: 06;
	} 	
}

@media(min-width: 768px) and (max-width:991px){
	#p1{
		width: 30%;
	}
#p2{
		width: 30%;
	}
	#p1{
		width: 60%;
	}

}

@media(max-width: 767px) and (max-width:991px){
	@media(min-width: 992px){
.responsiveDiv {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 80%;
   height: auto;
   border: 1px solid black;
   opacity: 06;
	} 	
}

}
