body{
	background-color: none;
	font-family: arial;
}

h1, h2{
  margin: 15px;
}

p {
   float: left;
   margin: 15px;
   padding: 10px;
   width: 300px;
   border: 1px solid black;
   
} 	

#p1{
	   background-color: Cyan;
	}
	#p2{
	    background-color: yellow;
	}
	#p3{
	    background-color: gray;
	}

@media(min-width: 992px){
p {
   max-width: 33%;
   
	} 	
}

@media(min-width: 768px) and (max-width:991px){
	#p1{
	    width: 35%;
	}
	#p2{
	    width: 35%;
	}
	#p3{
	    width: 80%;
	}

}

@media(max-width: 767px) and (max-width:991px){
	
#p1{
	    width: 80%;
	}
	#p2{
	    width: 80%;
	}
	#p3{
	    width: 80%;
	}

}

