body{
	background-color: orange;
	font-family: arial;
}

p {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 30%;
   height: auto;
   border: 1px solid black;
   opacity: 06;
} 	

#p1{
	   background-color: Cyan;
	}
	#p2{
	    background-color: yellow;
	}
	#p3{
	    background-color: gray;
	}

@media(min-width: 992px){
.responsiveDiv {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 30%;
   height: auto;
   border: 1px solid black;
   opacity: 06;
 
	} 	
}

@media(min-width: 768px) and (max-width:991px){
	#p1{
	    width: 30%;
	}
	#p2{
	    width: 30%;
	}
	#p3{
	    width: 60%;
	}

}

@media(max-width: 767px) and (max-width:991px){
	
#p1{
	    width: 80%;
	}
	#p2{
	    width: 80%;
	}
	#p3{
	    width: 80%;
	}

}

