html  {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
div.container {
    width: 80%;
    border: 0.025em solid;
}

div.row-content {
    box-sizing: border-box;
    width: 49.3%;
    border: 1em solid red;
    float: left;
    margin: 0.1em;
}

@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

<!--https://stackoverflow.com/questions/36185004/nodejs-mongodb-checking-if-a-user-has-admin-privileges-token-based-auth-->
